*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

body {
	margin: 0;
	font-family: sans-serif;
    background-color: #ffffff;
}

a {
	text-decoration: none;
    color: #FFFFFF;
}

img {
	max-width: 100%;
}
.nav_div {
	max-width: 658px;
	margin-left: auto;
	margin-right: auto;
}
.header {
font-weight: 700;
font-style: normal;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
margin-block: 39px;
}
.ul_menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: inline;
}
.menu {
	display: inline;
}
.li_menu {
	display: inline;
}
.home {
    margin: 0px 36px 0px 0px ;
}
.photoapp {
    margin: 0px 36px 0px 36px ;
}
.design {
    margin: 0px 25px 0px 36px ;
}
.download {
    margin: 0px 25px 0px 0px ;
}
.li_a {
	color: #FF0000;
}
.photo {
    width: 100%;
}
.h2_text {
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
align-items: flex-end;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
padding-top: 33px;
text-align: center;
}
.main_p {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
margin: auto;
display: block;
margin-top: 38px;
margin-bottom: 66px;
margin-inline: 67.5px;
color: #373737;
}
.button {
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
background-color: #ff0000;
padding: 15px;
border-radius: 4px;
margin: auto;
display: block;
border: 0;
width: 191px;
height: 51px;
}
.foo {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 2.4px;
color: #373737;;
margin:82px 105px 29px 1335px ;

}